<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.entbasebe.mapper.FolderMapper">
    <insert id="insertOneFolder">
        insert into
            entbase.folder(fold_name, fold_path, father_id, creat_time, update_time, user_id, is_bucket)
        values
            (#{FoldName}, #{FoldPath}, #{FatherId}, #{CreatTime}, #{UpdateTime}, #{UserId}, #{isBucket})
    </insert>
    <update id="updateFolderPathAndTime">
        update entbase.folder
        set
            fold_path = #{folder.FoldPath},
            update_time = #{folder.UpdateTime}
        where
            fold_id = #{folder.FoldId}
    </update>
    <update id="updateFatherId">
        update entbase.folder
        set
            father_id = #{fatherId}
        where
            fold_path = #{sourcePath} and user_id = (
                select user_id from entbase.bucket
                where bucket_id = #{bucketId}
            )
    </update>

    <delete id="deleteFolderByIdAndPath">
        delete from entbase.folder
            where fold_path like concat(#{path}, '%') and user_id = (
                select user_id from entbase.bucket
                where bucket_id = #{bucketId}
            )
    </delete>
    <select id="getFolderByPathAndBucketId" resultType="com.example.entbasebe.entity.Folder">
        select * from entbase.folder
        where fold_path like concat(#{path}, '%') and user_id = (
            select user_id from entbase.bucket
            where bucket_id = #{bucketId}
        )

        order by creat_time
    </select>
    <select id="getIdByBucketIdAndPath" resultType="java.lang.Integer">
        select fold_id from entbase.folder
            where fold_path = #{path} and user_id = (
                select user_id from entbase.bucket
                where bucket_id = #{bucketId}
            )
    </select>
    <select id="getOneFolderByPathAndBucketId" resultType="com.example.entbasebe.entity.Folder">
        select * from entbase.folder where fold_path = #{path} and user_id = (
            select user_id from entbase.bucket
            where bucket.bucket_id = #{bucketId}
            )
    </select>
</mapper>